CompileFlags:
  Add:
    - -std=c++20
    - -I./JuceLibraryCode
    - -I./JUCE/modules
    - -DLINUX=1
    - -DJUCE_STANDALONE_APPLICATION=1
    - -DJUCE_STRICT_REFCOUNTEDPOINTER=1
  Remove:
    - -W*
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None